<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>com.zjy.controller.UserAddServlet</servlet-class>
  </servlet>
    <servlet>
        <servlet-name>UserFindServlet</servlet-name>
        <servlet-class>com.zjy.controller.UserFindServlet</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>com.zjy.controller.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.zjy.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TaskAddServlet</servlet-name>
    <servlet-class>com.zjy.controller.TaskAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TaskFindServlet</servlet-name>
    <servlet-class>com.zjy.controller.TaskFindServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TaskDeleteServlet</servlet-name>
    <servlet-class>com.zjy.controller.TaskDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DriverAddServlet</servlet-name>
    <servlet-class>com.zjy.controller.DriverAddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DriverFindServlet</servlet-name>
    <servlet-class>com.zjy.controller.DriverFindServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DriverDeleteServlet</servlet-name>
    <servlet-class>com.zjy.controller.DriverDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AircraftFindServlet</servlet-name>
    <servlet-class>com.zjy.controller.AircraftFindServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AircraftDeleteServlet</servlet-name>
    <servlet-class>com.zjy.controller.AircraftDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AircraftAddServlet</servlet-name>
    <servlet-class>com.zjy.controller.AircraftAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverDeleteServlet</servlet-name>
    <url-pattern>/driver/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DriverFindServlet</servlet-name>
    <url-pattern>/driver/find</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DriverAddServlet</servlet-name>
    <url-pattern>/driver/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskDeleteServlet</servlet-name>
    <url-pattern>/task/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskFindServlet</servlet-name>
    <url-pattern>/task/find</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskAddServlet</servlet-name>
    <url-pattern>/task/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/user/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserFindServlet</servlet-name>
    <url-pattern>/user/find</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/user/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AircraftAddServlet</servlet-name>
    <url-pattern>/aircraft/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AircraftDeleteServlet</servlet-name>
    <url-pattern>/aircraft/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AircraftFindServlet</servlet-name>
    <url-pattern>/aircraft/find</url-pattern>
  </servlet-mapping>





  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.woff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.ttf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.TTF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.eot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.svg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.gif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpeg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.map</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.swf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.rar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.zip</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.doc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.docx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.xls</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.xlsx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.ppt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.pptx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.txt</url-pattern>
  </servlet-mapping>

  <!--设置欢迎文件-->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
